<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrdotxin.propsmart.mapper.ElevatorConfigMapper">

    <resultMap id="BaseResultMap" type="com.mrdotxin.propsmart.model.entity.ElevatorConfig">
            <id property="elevatorId" column="elevatorId" jdbcType="BIGINT"/>
            <result property="cabinTempAlertThr" column="cabinTempAlertThr" jdbcType="DECIMAL"/>
            <result property="motorTempAlertThr" column="motorTempAlertThr" jdbcType="DECIMAL"/>
            <result property="speedAlertPercent" column="speedAlertPercent" jdbcType="DECIMAL"/>
            <result property="accelAlertThr" column="accelAlertThr" jdbcType="DECIMAL"/>
            <result property="effectiveTime" column="effectiveTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        elevatorId,cabinTempAlertThr,motorTempAlertThr,speedAlertPercent,accelAlertThr,effectiveTime,
        updateTime
    </sql>
</mapper>
