<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrdotxin.propsmart.mapper.ElevatorAbnormalityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrdotxin.propsmart.model.entity.ElevatorAbnormality">
        <id column="id" property="id" />
        <result column="elevator_id" property="elevatorId" />
        <result column="abnormality_type" property="abnormalityType" />
        <result column="abnormality_level" property="abnormalityLevel" />
        <result column="occurrence_time" property="occurrenceTime" />
        <result column="recovery_time" property="recoveryTime" />
        <result column="status" property="status" />
        <result column="handler_id" property="handlerId" />
        <result column="description" property="description" />
        <result column="handling_notes" property="handlingNotes" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, elevator_id, abnormality_type, abnormality_level, occurrence_time, recovery_time,
        status, handler_id, description, handling_notes, create_time, update_time
    </sql>
</mapper> 