<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrdotxin.propsmart.mapper.ElevatorMapper">

    <resultMap id="BaseResultMap" type="com.mrdotxin.propsmart.model.entity.Elevator">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="buildingId" column="buildingId" jdbcType="BIGINT"/>
            <result property="elevatorNumber" column="elevatorNumber" jdbcType="VARCHAR"/>
            <result property="installationDate" column="installationDate" jdbcType="DATE"/>
            <result property="lastMaintenanceDate" column="lastMaintenanceDate" jdbcType="DATE"/>
            <result property="currentStatus" column="currentStatus" jdbcType="OTHER"/>
            <result property="currentFloor" column="currentFloor" jdbcType="INTEGER"/>
            <result property="runningDirection" column="runningDirection" jdbcType="OTHER"/>
            <result property="loadPercentage" column="loadPercentage" jdbcType="INTEGER"/>
            <result property="doorStatus" column="doorStatus" jdbcType="OTHER"/>
            <result property="cabinTemperature" column="cabinTemperature" jdbcType="DECIMAL"/>
            <result property="motorTemperature" column="motorTemperature" jdbcType="DECIMAL"/>
            <result property="runningSpeed" column="runningSpeed" jdbcType="DECIMAL"/>
            <result property="ratedSpeed" column="ratedSpeed" jdbcType="DECIMAL"/>
            <result property="acceleration" column="acceleration" jdbcType="DECIMAL"/>
            <result property="powerConsumption" column="powerConsumption" jdbcType="DECIMAL"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,buildingId,elevatorNumber,installationDate,lastMaintenanceDate,currentStatus,
        currentFloor,runningDirection,loadPercentage,doorStatus,cabinTemperature,
        motorTemperature,runningSpeed,ratedSpeed,acceleration,powerConsumption,
        createTime,updateTime
    </sql>
</mapper>
