<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrdotxin.propsmart.mapper.PropertyMapper">

    <resultMap id="BaseResultMap" type="com.mrdotxin.propsmart.model.entity.Property">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="buildingId" column="buildingId" jdbcType="INTEGER"/>
        <result property="unitNumber" column="unitNumber" jdbcType="VARCHAR"/>
        <result property="roomNumber" column="roomNumber" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="DECIMAL"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,buildingId,unitNumber,roomNumber,area,createTime,
        updateTime
    </sql>
</mapper>
