<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrdotxin.propsmart.mapper.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.mrdotxin.propsmart.model.entity.Notice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publishTime" jdbcType="TIMESTAMP"/>
            <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
            <result property="publisherId" column="publisherId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,publishTime,expireTime,publisherId,
        createTime,updateTime
    </sql>
</mapper>
